<section class="flex flex-col md:flex-row md:p-8  justify-between p-8">
    <div class="flex-1 mt-8 md:mt-16 md:ml-10">
        <span class="font-bold text-2xl ">PRENEZ CONTACT 💬</span>
        <h2 class="mt-4 text-base md:text-lg">Visitez l'une de nos agences ou contactez nous dès aujourd'hui</h2>
        <ul class="list-none p-0 mt-5">
            <li class="flex items-start mb-3"> 
                <i class="fas fa-map-marker-alt mr-3 mt-1"></i>
                <p class="m-0">20 AVENUE SERGE DASSAULT 91100 CORBEIL-ESSONNES</p>
            </li>
            <li class="flex items-start mb-3">
                <i class="fa-solid fa-phone  mr-3 mt-1"></i>
                <p class="m-0" >07.61.31.66.38</p>
            </li>
            <li class="flex items-center mb-3">
                <i class="fa-solid fa-clock  mr-3 mt-1"></i>
                <p class="m-0">Lundi au samedi, de 9h à 18h</p>
            </li>
        </ul>
    </div>
    <div class="flex-1 mt-10 md:mt-0">
        <span class=" block font-bold text-2xl mb-4 ">LA CARTE 🗺️</span>
        <iframe class="w-full h-[300px] md:h-[450px] border-2 border-gray-700" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10551.347049295708!2d2.452093766814298!3d48.61296782743482!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e5e1d52da47917%3A0xc0f093d52809df4a!2s20%20Av.%20Serge%20Dassault%2C%2091100%20Corbeil-Essonnes!5e0!3m2!1sfr!2sfr!4v1744706975136!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>

<section class="flex flex-col lg:flex-row justify-between m-4 md:m-8 p-6 md:p-10 border-2 border-solid border-zinc-200">
    <form class="lg:w-[65%] flex flex-col items-start w-full" actions="">
        <span class="font-bold text-2xl ">CONTACTEZ-NOUS</span>
        <h2 class="mt-4 mb-4 md:text-lg text-base">Vous pouvez nous soumettre ici votre demande, nous nous efforcerons d’y répondre rapidement.</h2>
        <input class="w-full p-4 mb-5 text-base border-2 border-neutral-900 outline-none" type="text" placeholder="Votre Nom">
        <input class="w-full p-4 mb-5 text-base border-2 border-neutral-900 outline-none" type="text" placeholder="Votre adresse e-mail">
        <input class="w-full p-4 mb-5 text-base border-2 border-neutral-900 outline-none" type="text" placeholder="Sujet de la demande">
        <textarea class="w-full p-4 mb-5 text-base border-2 border-neutral-900 outline-none" rows="6" placeholder="Votre Message"></textarea>
        <button class="mt-2 bg-neutral-900 text-white text-sm border-none px-10 py-3 rounded cursor-pointer transition-transform duration-300  hover:scale-105">Envoyez</button>
    </form>
</section>