

#contact-details {
    display:flex;
    justify-content: space-between;
    padding: 30px;
    
}

.details, .map{
    flex:1;
}



.details ul{
    list-style-type: none;
    padding: 0;
}

.details ul li{
    display:flex;
    align-items: center;
    margin-bottom: 10px;

}

.details ul li i{
    margin-right: 10px;

}
.details ul li p{
    margin-left: 10px;
}

.map iframe{
    width: 100%;
    height: 450px;
    border: 2px solid #555;
}