<div class="flex flex-col px-10 py-5">
    <h1 class="text-4xl m-5 text-center font-semibold  ">Obtenez Votre Devis en Moins d'1 Minute !</h1>
    
    <div class="flex justify-center items-center py-10 px-5">
  
        <form [formGroup]="formGroup" (submit)="onSubmit($event)" class="max-w-6xl w-full bg-zinc-100 p-6 rounded-b-lg shadow-lg">

            <div class="flex flex-col gap-5 mb-8">
              <h2 class="font-bold text-2xl">Informations personnelles</h2>
              <mat-form-field class="w-full" appearance="fill">
                <mat-label>Nom</mat-label>
                <input matInput formControlName="lastName" />
                <mat-error *ngIf="isFieldValid('lastName')">Ce champ est obligatoire</mat-error>
              </mat-form-field>
          
              <mat-form-field  class="w-full" appearance="fill">
                <mat-label>Prénom</mat-label>
                <input matInput formControlName="firstName" />
                <mat-error *ngIf="isFieldValid('firstName')">Ce champ est obligatoire</mat-error>
              </mat-form-field>
          
              <mat-form-field class="w-full" appearance="fill">
                <mat-label>Adresse</mat-label>
                <input matInput formControlName="address" />
                <mat-error *ngIf="isFieldValid('address')">Ce champ est obligatoire</mat-error>
              </mat-form-field>
          
              <mat-form-field class="w-full" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" />
                <mat-error *ngIf="isFieldValid('email')">Ce champ est obligatoire</mat-error>
                <mat-error *ngIf="isFieldValid('email')">L'adresse n'est pas valide</mat-error>
              </mat-form-field>
          
              <mat-form-field class="w-full" appearance="fill">
                <mat-label>Numéro de téléphone</mat-label>
                <input matInput formControlName="phone" />
                <mat-error *ngIf="isFieldValid('phone')">
                  Ce champ est obligatoire et doit contenir 10 chiffres
                </mat-error>
              </mat-form-field>
          
              <mat-form-field appearance="fill">
                <mat-label>Département</mat-label>
                <input matInput formControlName="department" />
                <mat-error *ngIf="isFieldValid('department')">Ce champ est obligatoire</mat-error>
              </mat-form-field>
          
              
            </div>
          
            <div class="flex flex-col gap-5 mb-8">
              <h2 class="font-bold text-2xl">Type de prestations</h2>
              <section class="flex gap-5 flex-wrap">
                <mat-checkbox class="flex-grow flex-shrink basis-[45%]" *ngFor="let service of serviceTypes" [formControlName]="service.key">
                    {{service.label}}
                </mat-checkbox>
              </section>
            </div>
          
            <div class="flex flex-col gap-5 mb-8">
              <h2 class="font-bold text-2xl">Merci de préciser</h2>
              <mat-form-field class="w-full" appearance="fill">
                <mat-label>Merci de préciser :</mat-label>
                <textarea matInput formControlName="details" rows="5"></textarea>
              </mat-form-field>
            </div>
          
            <div class="flex flex-col gap-5 mb-8">
              <h2 class="font-bold text-2xl" >Commentaire et questions</h2>
              <mat-form-field class="w-full" appearance="fill">
                <mat-label>Commentaire :</mat-label>
                <textarea matInput formControlName="comment" rows="5"></textarea>
              </mat-form-field>
            </div>
          
            <div class="flex flex-wrap justify-center gap-4 mt-6">
              <button mat-flat-button color="warn" type="button" (click)="goBack()">Revenir</button>
              <span class="flex-1"></span>
              <button mat-button type="button" (click)="clear()">Effacer</button>
              <button mat-flat-button color="primary" type="submit" [disabled]="formGroup.invalid">Envoyer</button>
            </div>
        </form>
  </div>
</div>

