<footer>
    <div class="footer_info">
        <div class="footer_width home">
            
            <h2>Yesil Conseil</h2>
            
            <p>Yesil Conseil est une entreprise spécialisée dans le conseil 
                en systèmes et logiciels informatiques. Nous offrons des services
                 de développement, d'édition et de vente de logiciels, de sites 
                 web et d'applications web. <br>
                 Vous pouvez nous trouver à nos 
                  adresses : 20 Avenue Serge Dassault, 91100 Corbeil-Essonnes, 
                  et 64 bis rue de Melun, 77000 Livry-sur-Seine. 
                  Pour plus d'informations, contactez-nous.</p>



                  
            <div class="social-media">
                <ul>
                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>

            
        </div>
        <div class="footer_width  link">
            <h2>Lien rapide</h2>
            <ul>
                <li><a href="/home">Accueil</a></li>
                <li><a href="/product">Produits</a></li>
                <li><a href="/about_us">Qui sommes nous</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>

        </div>

        <div class="footer_width Contact">
            <h2>Contact</h2>
            <ul>
                <li>
                    <span><i class="fas fa-map-marker-alt"></i></span>
                    <p>20 AVENUE SERGE DASSAULT, 91100 CORBEIL-ESSONNES France</p>
                </li>
                <li>
                    <span><i class="fas fa-envelope"></i></span>
                    <a href="#">y.yesilkay&#64;gmail.com</a>
                </li>
                <li>
                    <span><i class="fas fa-phone-volume"></i></span>
                    <a href="#">07.61.31.66.38</a>
                </li>
            </ul>
        </div>
        
        
    </div>
    <div class="copy-right">
        <p>&copy; 2025 Yesil Conseil. Tous droits réservés.</p>
    </div>


</footer>