<footer class="bg-zinc-800 text-white">
  <div class="w-[90%] mx-auto flex flex-col md:flex-row py-12 px-4 md:px-0">
    <div class="w-full md:w-2/5 px-4 mb-12 md:mb-0">
      <h2 class="text-3xl font-bold mb-5">Yesil Conseil</h2>
      <p class="mb-8 max-w-3xl leading-relaxed">
        Yesil Conseil est une entreprise spécialisée dans le conseil en systèmes
        et logiciels informatiques. Nous offrons des services de développement,
        d'édition et de vente de logiciels, de sites web et d'applications web.
        <br />
        Vous pouvez nous trouver à notre adresse : 20 Avenue Serge Dassault,
        91100 Corbeil-Essonnes.
        Pour plus d'informations, contactez-nous.
      </p>
      <div class="mt-8">
        <ul class="flex space-x-6">
          <li>
            <a
              href="#"
              class="flex items-center justify-center w-12 h-12 border border-white hover:bg-white hover:text-black transition"
            >
              <i class="fab fa-facebook"></i>
            </a>
          </li>
          <li>
            <a
              href="#"
              class="flex items-center justify-center w-12 h-12 border border-white hover:bg-white hover:text-black transition"
            >
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
          <li>
            <a
              href="#"
              class="flex items-center justify-center w-12 h-12 border border-white hover:bg-white hover:text-black transition"
            >
              <i class="fab fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="md:w-1/5 px-4 mb-12 md:mb-0">
      <h2 class="text-2xl font-semibold mb-5">Lien rapide</h2>
      <ul>
        <li class="mb-4">
          <a
            href="#"
            class="border-b-2 text-lg border-transparent hover:border-b-4 hover:border-white transition duration-300"
            >Accueil</a
          >
        </li>
        <li class="mb-4">
          <a
            href="/services"
            class="border-b-2 text-lg border-transparent hover:border-b-4 hover:border-white transition duration-300"
            >Nos services</a
          >
        </li>
        <li class="mb-4">
          <a
            href="/about_us"
            class="border-b-2 text-lg border-transparent hover:border-b-4 hover:border-white transition duration-300"
            >Qui sommes nous</a
          >
        </li>
        <li class="mb-4">
          <a
            href="/faq"
            class="border-b-2 text-lg border-transparent hover:border-b-4 hover:border-white transition duration-300"
            >FAQ</a
          >
        </li>
        <li class="mb-4">
          <a
            href="/contact"
            class="border-b-2 text-lg border-transparent hover:border-b-4 hover:border-white transition duration-300"
            >Contact</a
          >
        </li>
      </ul>
    </div>

    <div class="md:w-2/5 px-4">
      <h2 class="text-2xl font-semibold mb-5">Contact</h2>
      <ul>
        <li class="flex items-start mb-4">
          <span class="mr-4"><i class="fas fa-map-marker-alt"></i></span>
          <p>20 AVENUE SERGE DASSAULT, 91100 CORBEIL-ESSONNES France</p>
        </li>
        <li class="flex items-center mb-4">
          <span class="mr-4"><i class="fas fa-envelope"></i></span>
          <a href="mailto:yesilconseil@gmail.com">yesilconseil&#64;gmail.com</a>
        </li>
        <li class="flex items-center mb-4">
          <span class="mr-4"><i class="fas fa-phone-volume"></i></span>
          <a href="tel:+33761316638">07.61.31.66.38</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="text-center bg-zinc-700 py-4">
    <p>&copy; 2025 Yesil Conseil. Tous droits réservés.</p>
  </div>
</footer>
