<header class="navbar">
    <div class="presentation">
    <a class="active" routerLink="/home"><img src="./assets/logo.jpg" class="logo" alt=""></a>
    </div>
    <div id="search-container">
        <input  class="barre" type="text" placeholder="Rechercher ...">
        <button>
            <i class="fas fa-search"></i>
        </button>
    </div>

    <div>
        <ul id="list">
            <li>
                <i class="fa-solid fa-house"></i>
                <a class="active" routerLink="/home">Accueil</a>
            </li>
            <li>
                <i class="fa-solid fa-box-open"></i>
                <a routerLink="/services">Nos services</a>
            </li>
            <li>
                <i class="fa-regular fa-building"></i>
                <a routerLink="/about_us">Qui nous sommes</a>
            </li>
            <li>
                <i class="fa-regular fa-circle-user"></i>
                <a routerLink="/contact">Contact</a>
            </li>
        </ul>
    </div>
</header>

