<section id="hero">
  <div class="content">
    <h1>Yesil Conseil - <br> Conseil en Informatique</h1>
    <p>Des solutions sur mesure pour optimiser vos systèmes informatiques. Contactez-nous pour obtenir un devis personnalisé.</p>
    <a routerLink="/estimate_request" class="btn">
      <button>Demander un devis</button>
   </a>

  </div>
  <div class="image">
      <img src="./assets/conseil-informatique.jpg" alt="Image consultant informatique">
  </div>
</section>

<section class="section dark-section">
<h2>Qui sommes-nous ?</h2>
<p>
  YESIL CONSEIL est une société spécialisée dans le conseil en systèmes et logiciels informatiques. 
  Nous accompagnons les entreprises dans leur transformation numérique grâce à des solutions sur mesure.
</p>
<a routerLink="/about_us">
  <button>En savoir plus</button>
</a>
</section>

<section class="section light-section">
<h2>Nos Services</h2>
<div class="container grid">
  <div class="service-box">
    <h3>Site Vitrine</h3>
    <p>Présentez votre activité avec un site pro.</p>
  </div>
  <div class="service-box">
    <h3>Site E-commerce</h3>
    <p>Vendez vos produits en ligne facilement.</p>
  </div>
  <div class="service-box">
    <h3>Applications Mobile</h3>
    <p>Des apps performantes pour vos utilisateurs.</p>
  </div>
  <div class="service-box">
    <h3>Maintenance</h3>
    <p>Maintenez vos applications au top de leur performance.</p>
  </div>
  


</div>
</section>


<section class="section dark-section">
<h2>Chiffres clés</h2>
  <div class="container stats">
    <div><h3>50+</h3><p>Projets réalisés</p></div>
    <div><h3>10+</h3><p>Année d'expertise</p></div>
    <div><h3>100%</h3><p>Satisfaction client</p></div>
  </div>

</section>

<section class="section light-section">
<h2>Vous avez un projet ? Discutons-en.</h2>
<p>Que ce soit pour une nouvelle idée ou pour améliorer un projet existant, notre équipe est là pour vous accompagner. Nous offrons des solutions sur mesure pour répondre à vos besoins spécifiques.</p>
<div class="cta-buttons">
  <a routerLink="/estimate_request" class="btn primary">
    <button>Demander un devis</button>
 </a>
 <a routerLink="/contact" class="btn secondary">
  <button>Nous contacter</button>
</a>
</div>
</section>
