

<header class="navbar">
    <div class="presentation">
    <a href="#"><img src="./assets/" class="logo" alt=""></a>
    <h2 class="nom">Yesil Conseil</h2>
    </div>
    <div id="search-container">
        <input  class="barre" type="text" placeholder="Rechercher ...">
        <button type="button">
            <i class="fas fa-search"></i>
        </button>
    </div>

    <div>
        <ul id="list">
            <li>
                <i class="fa-solid fa-house"></i>
                 <a class="active" routerLink="/home">Accueil</a> 
            </li>
            <li>
                <i class="fa-solid fa-box-open"></i>
                <a href="#">Nos produits</a>
            </li>
            <li>
                <i class="fa-regular fa-building"></i>
                <a routerLink="/qui_nous_somme">Qui nous sommes</a>
            </li>
            <li>
                <i class="fa-regular fa-circle-user"></i>
                <a routerLink="/contact">Contact</a>
            </li>
        </ul>

               
       

    </div>
</header>
