@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* styles.css ou app.component.css */
.main-content {
    padding: 30px;
    min-height: 80vh;
    background-color: #f9f9f9;
  }