<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <app-en-tete></app-en-tete>

  <section id="hero">
    <div class="content">
      <h1>Yesil Conseil - <br> Conseil en Informatique</h1>
      <p>Des solutions sur mesure pour optimiser vos systèmes informatiques. Contactez-nous pour un devis personnalisé.</p>
        <a href="#" class="btn">Demandez un Devis</a>
    </div>
    <div class="image">
        <img src="./assets/" alt="Image de l'artisanat">
    </div>
</section>



  <app-footer></app-footer>
  
</body>
</html>