<div class="m-auto py-10 px-5 max-w-7xl text-zinc-800">
    <div class="text-center mb-10">
        <div >
            <h2 class="mb-2.5 text-3xl  font-bold text-zinc-900">À propos de YESIL CONSEIL</h2>
            <p class="max-w-4xl mx-auto leading-relaxed mt-8 text-center  ">
                Créée en mars 2019, <strong>YESIL CONSEIL (YC)</strong> est une société à 
                spécialisée dans le <strong>conseil en systèmes et logiciels informatiques</strong>. 
                Implantée à Corbeil-Essonnes, au 20 avenue Serge Dassault, l'entreprise met à disposition son expertise pour 
                accompagner les structures dans leur transformation numérique. Forte de plusieurs années d’expérience, elle 
                apporte une approche professionnelle et personnalisée à chaque mission. YESIL CONSEIL s’adresse aussi bien aux 
                TPE/PME qu’aux indépendants ou aux acteurs publics. <br>
                <strong>Notre volonté : être un partenaire fiable, à l’écoute des
                    enjeux technologiques d’aujourd’hui et de demain.</strong> 
              </p>
        </div>
    </div>
    <div class="flex flex-wrap items-center justify-between mb-8 gap-8 relative after:content-[''] after:block after:w-full after:h-0.5 after:bg-zinc-800 after:mt-8 after:mb-8 ">
        <div class="flex-1 max-w-4xl m-auto leading-relaxed">
            <h2 class="mb-2.5 text-2xl font-bold text-zinc-900">Notre Expertise</h2>
            <p>  Nous intervenons sur des problématiques variées, allant de l’optimisation des systèmes d’information 
                à la mise en place de solutions logicielles adaptées aux besoins métiers. Chaque projet est étudié avec 
                rigueur pour proposer des outils performants, évolutifs et simples d’utilisation. Grâce à une veille 
                technologique constante, nous assurons une expertise à jour avec les innovations du secteur informatique. 
                YESIL CONSEIL prend en charge des missions ponctuelles ou récurrentes, en fonction de vos besoins. <br>
                <strong>Notre objectif : faire de la technologie un levier de performance accessible et maîtrisé.</strong> 
              </p>   
        </div>
        <div class="w-full max-w-xl h-auto rounded-lg ">
            <img src="./assets/img1.jpg" alt="">
        </div>
    </div>
    <div class="flex flex-wrap items-center justify-between mb-8 gap-8 relative after:content-[''] after:block after:w-full after:h-0.5 after:bg-zinc-800 after:mt-8 after:mb-8 ">
        <div class="flex-1 max-w-4xl m-auto leading-relaxed">
            <h2 class="mb-2.5 text-2xl  font-bold text-zinc-900">Une Relation de Confiance</h2>
            <p>L’écoute du client est au cœur de notre démarche. Chaque entreprise a ses propres enjeux, 
                c’est pourquoi nous privilégions une approche sur mesure, adaptée à chaque contexte. 
                Nous construisons avec vous des solutions robustes et durables, en privilégiant la transparence et 
                la simplicité dans nos échanges. Le respect des délais, la confidentialité des données et la qualité 
                de service sont pour nous des engagements essentiels.<br>
                <strong>Notre accompagnement va au-delà du conseil :
                    il s’inscrit dans une relation de confiance, pérenne et évolutive.</strong> 
            </p>   
        </div>
        <div class="w-full max-w-lg h-auto rounded-lg">
            <img src="./assets/img2.jpg" alt="">
        </div>
    </div>
    <div class="flex flex-wrap items-center justify-between mb-8 gap-8 relative after:content-[''] after:block after:w-full after:h-0.5 after:bg-zinc-800 after:mt-8 after:mb-8 ">
        <div class="flex-1 max-w-4xl m-auto leading-relaxed">
            <h2 class="mb-2.5 text-2xl font-bold text-zinc-900">Notre Agilité</h2>
            <p>  En tant que <strong>Petite ou Moyenne Entreprise </strong>, 
                YESIL CONSEIL conserve une grande agilité dans sa manière de travailler. 
                Cette taille humaine nous permet de rester proches de nos clients et réactifs face à leurs attentes. 
                Nous croyons que la réussite d’un projet repose sur une bonne communication, une compréhension fine 
                des besoins et une capacité à s’adapter en permanence.<br> 
                <strong>Travailler avec YESIL CONSEIL, c’est choisir un 
                    interlocuteur unique, engagé et investi dans chaque mission. Ensemble, nous transformons vos idées en 
                    solutions concrètes et efficaces.</strong>
              </p>  
        </div>
        <div class="w-full max-w-lg h-auto rounded-lg">
            <img src="./assets/img3.jpg" alt="">
        </div>
    </div>
    <div class="flex flex-wrap items-center justify-between mb-8 gap-8 relative after:content-[''] after:block after:w-full after:h-0.5 after:bg-zinc-800 after:mt-8 after:mb-8 ">
        <div class="flex-1 max-w-4xl m-auto leading-relaxed">
            <h2 class="mb-2.5 text-2xl font-bold text-zinc-900">Faites Évoluer Votre Projet</h2>
            <p>
                Vous avez un projet informatique, des défis techniques à relever ou simplement besoin d’un accompagnement 
                stratégique ? YESIL CONSEIL est là pour vous guider à chaque étape. Nous vous accueillons dans nos locaux à 
                Corbeil-Essonnes, ou intervenons à distance selon vos préférences. Que vous soyez au lancement d’une activité 
                ou en phase de modernisation, nous mettons notre savoir-faire à votre service. <br>
                <strong>N’hésitez pas à nous contacter 
                    pour échanger sur vos besoins.<br>
                     Avec YESIL CONSEIL, donnez vie à vos projets numériques en toute sérénité.</strong>
            </p>   
        </div>
        <div class="w-full max-w-lg h-auto rounded-lg">
            <img src="./assets/img4.jpg" alt="">
        </div>
    </div>

    <div class=" text-center mb-20">
        <h2 class="text-4xl font-bold text-zinc-900 mb-8">Prêt à transformer votre projet en succès ?</h2>
        <p class="max-w-2xl mx-auto text-xl text-zinc-700 mb-16">
            Notre équipe est à votre disposition pour vous accompagner dans vos démarches numériques. 
            Que ce soit pour un conseil, un service ou un devis, nous sommes à votre écoute.
        </p>

        <div class="flex justify-center gap-5">
            <a class="no-underline" routerLink="/contact">
                <button class="bg-zinc-800 text-white text-base px-6 py-3 rounded cursor-pointer transition duration-300 ease-in-out hover:-translate-y-1 active:bg-zinc-600 active:translate-y-0">Contactez-nous</button>
            </a>
            <a class="no-underline" routerLink="/services">
                <button class="bg-zinc-800 text-white text-base px-6 py-3 rounded cursor-pointer transition duration-300 ease-in-out hover:-translate-y-1 active:bg-zinc-600 active:translate-y-0">Nos Services</button>
            </a>
            <a class="no-underline" routerLink="/estimate_request">
                <button class="bg-zinc-800 text-white text-base px-6 py-3 rounded cursor-pointer transition duration-300 ease-in-out hover:-translate-y-1 active:bg-zinc-600 active:translate-y-0">Demander un devis</button>
            </a>
        </div>
    </div>
    
</div>
