
<div class="devis-page">
  <h1 class="title">Obtenez Votre Devis en Moins d'1 Minute !</h1>
  
  <div class="container">

  <form [formGroup]="formGroup" (submit)="submit($event)" class="form-wrapper">

    <div class="form-section">
      <mat-form-field appearance="fill">
        <mat-label>Nom</mat-label>
        <input matInput formControlName="name" />
        <mat-error *ngIf="isFieldValid('name')">Ce champ est obligatoire</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Prénom</mat-label>
        <input matInput formControlName="prenom" />
        <mat-error *ngIf="isFieldValid('prenom')">Ce champ est obligatoire</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Adresse</mat-label>
        <input matInput formControlName="adresse" />
        <mat-error *ngIf="isFieldValid('adresse')">Ce champ est obligatoire</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        <mat-error *ngIf="isFieldValid('email')">Ce champ est obligatoire </mat-error>
        <mat-error *ngIf="isFieldValid('email')">L'adresse n'est pas valide </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Numéro de téléphone</mat-label>
        <input matInput formControlName="telephone" />
        <mat-error *ngIf="isFieldValid('telephone')">
          Ce champ est obligatoire et doit contenir 10 chiffres
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Département</mat-label>
        <input matInput formControlName="departement" />
        <mat-error *ngIf="isFieldValid('departement')">Ce champ est obligatoire</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Numéro de Département</mat-label>
        <input matInput type="number" formControlName="numero_dep" />
        <mat-error *ngIf="isFieldValid('numero_dep')">
          <span *ngIf="formGroup.get('numero_dep')?.hasError('required')">Ce champ est obligatoire</span>
          <span *ngIf="formGroup.get('numero_dep')?.hasError('min')">Ce champ doit être supérieur à 0</span>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-section">
      <h2>Type de prestations</h2>
      <section class="checkbox">
        <mat-checkbox formControlName="siteVitrine">Site Vitrine</mat-checkbox>
        <mat-checkbox formControlName="siteEcommerce">Site E-commerce</mat-checkbox>
        <mat-checkbox formControlName="applicationMobile">Application Mobile</mat-checkbox>
        <mat-checkbox formControlName="maintenance">Maintenance</mat-checkbox>
      </section>
    </div>

    <div class="form-section">
      <h2>Merci de préciser</h2>
      <mat-form-field appearance="fill">
        <mat-label>Merci de préciser :</mat-label>
        <textarea matInput formControlName="questions" rows="5"></textarea>
      </mat-form-field>
    </div>

    <div class="form-section">
      <h2>Commentaire et questions</h2>
      <mat-form-field appearance="fill">
        <mat-label>Commentaire :</mat-label>
        <textarea matInput formControlName="commentaire" rows="5"></textarea>
      </mat-form-field>
    </div>

    <div class="form-buttons">
      <button mat-flat-button color="warn" type="button" (click)="retourner()">Revenir</button>
      <span class="spacer"></span>
      <button mat-button type="button" (click)="effacer()">Effacer</button>
      <button mat-flat-button color="primary" type="submit" [disabled]="formGroup.invalid">Envoyer</button>
    </div>

  </form>
</div>

</div>
