<section class="services">
    <h2>Nos Servives</h2>
    <p>Vous trouverez ici l'ensemble des solutions que nous proposons pour accompagner la croissance de votre activité.  </p>

    <div id="services1">
        <div class="right">
            <h1>Site vitrine</h1>
            <h4>Donnez vie à votre précence en ligne</h4>
            <p>Nous réalisons des sites modernes et responsives qui reflètent votre image de marque. Parfaits pour présenter vos services, vos valeurs et attirer de nouveaux clients.</p>
            <ul>
                <li><i class="fa-solid fa-check"></i> Design professionnel</li>
                <li><i class="fa-solid fa-check"></i> Compatible mobile</li>
                <li><i class="fa-solid fa-check"></i> Optimisé SEO</li>
            </ul>
            <a routerLink="/estimate_request">
                <button class="button_i">
                    <i class="fa-regular fa-file"></i> Obtenir un devis
                </button>


            </a>
            
        </div>
        <div class="left">
            <img src="./assets/site_vitrine.jpg" alt="">
        </div>
    </div>

    <div id="services2">
        <div class="right">
            <h1>Site e-commerce</h1>
            <h4>Vendez vos produits en ligne facilement</h4>
            <p>Nous développons des boutiques en ligne performantes, sécurisées et faciles à gérer. Offrez à vos clients une expérience fluide et agréable.</p>
            <ul>
                <li><i class="fa-solid fa-check"></i> Paiement sécurisé</li>
                <li><i class="fa-solid fa-check"></i> Gestion des stocks</li>
                <li><i class="fa-solid fa-check"></i> Responsive & rapide</li>
            </ul>
            <a routerLink="/estimate_request">
                <button class="button_i">
                    <i class="fa-solid fa-cart-shopping"></i> Obtenir un devis
                </button>


            </a>
            
        </div>
        <div class="left">
            <img src="./assets/site_ecommerce.jpg" alt="">
        </div>
    </div>


    <div id="services3">
        <div class="right">
            <h1>Application mobile</h1>
            <h4>Atteignez vos clients sur leurs smartphones</h4>
            <p>Nous créons des applications intuitives et performantes pour Android et iOS. Renforcez votre présence sur mobile avec une app sur mesure.</p>
            <ul>
                <li><i class="fa-solid fa-check"></i> Développement natif ou hybride</li>
                <li><i class="fa-solid fa-check"></i> Interface utilisateur fluide</li>
                <li><i class="fa-solid fa-check"></i> Suivi des performances</li>
            </ul>
            <a routerLink="/estimate_request">
                <button class="button_i">
                    <i class="fa-solid fa-mobile"></i> Obtenir un devis
                </button>


            </a>
            
        </div>
        <div class="left">
            <img src="./assets/app-mobile.jpg" alt="">
        </div>
    </div>

    <div id="services4">
        <div class="right">
            <h1>Maintenance</h1>
            <h4>Un site toujours à jour et performant.</h4>
            <p>Nous assurons le suivi, les mises à jour et le support technique de vos sites et applications pour garantir leur sécurité et leur efficacité.</p>
            <ul>
                <li><i class="fa-solid fa-check"></i> Sauvegardes régulières</li>
                <li><i class="fa-solid fa-check"></i> Mise à jour techniques</li>
                <li><i class="fa-solid fa-check"></i> Support rapide</li>
            </ul>
            <a routerLink="/estimate_request">
                <button class="button_i">
                    <i class="fa-solid fa-wrench"></i> Obtenir un devis
                </button>


            </a>
            
        </div>
        <div class="left">
            <img src="./assets/maintenance.jpg" alt="">
        </div>
    </div>
</section>

<section class="contact">
    <h2>Contactez-Nous</h2>
    <p> Une question, un projet ou simplement envie d'échanger avec nous ? Notre équipe est à votre écoute pour vous accompagner dans vos besoins numériques.</p>

    <a routerLink="/contact">
        <button class="button_c">
            Contactez nous
        </button>

    </a>
</section>